<!-- Featured Product Start -->
<div class="featured-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1>Carros disponíveis</h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">


      {% for car in object_list %}
      <div class="col-lg-3">
        <div class="product-item">
          <div class="product-title">
            <a href="{% url 'car:car_detail' car.id %}">{{car.car_model}}</a>
          </div>
          <div class="product-image">
            <a href="product-detail.html">
              <img src="{{car.image_car}}" alt="Product Image" />
            </a>
            <div class="product-action">


              <a href="{% url 'car:car_detail' car.id %}"><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="product-price">
            <h3><span>R$</span>{{car.price_day}}</h3>
            <a class="btn" href="{% url 'car:car_detail' car.id %}"
              ><i class="fa fa-shopping-cart"></i>Alugue</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>