<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header-slider normal-slider">
          {% for car in car_random %}
          <div class="header-slider-item">
            <img src="{{car.image_car}}"   height="800" alt="Slider Image" />
            <div class="header-slider-caption">
              <p>{{car.car_model}}</p>
              <a class="btn" href="{% url 'car:car_detail' car.id  %}"><i class="fa fa-shopping-cart"></i>Veja os
                detalhes</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>