{% load static %}
<div class="nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav mr-auto">
          <a href="{% url 'home:index' %}" class="nav-item nav-link active">Início</a>
          <a href="product-list.html" class="nav-item nav-link">Products</a>
          <a href="product-detail.html" class="nav-item nav-link"
            >Product Detail</a>
          {% if request.user.type_user != 2 %}
                <a href="{% url 'order:cart' %}" class="nav-item nav-link">Carrinho</a>
          <a href="{% url 'order:create_order' %}" class="nav-item nav-link">Checkout</a>
          {% comment %} {% else %} {% endcomment %}
          {% endif %}
      
        </div>
        <div class="navbar-nav ml-auto">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              > {% if request.user.id is None  %} Início {% else %} {{request.user.email}} {% endif %}</a
            >
            <div class="dropdown-menu">
              {% if request.user.id is None  %}
                <a href="{% url 'user:login' %}" class="dropdown-item">Acessar conta</a>
                  <a href="{% url 'user:register' %}" class="dropdown-item">Registrar conta</a>
              {% else %}
                <a href="{% url 'user:profile' %}" class="dropdown-item">Perfil</a>
                <a href="{% url 'user:logout' %}" class="dropdown-item">Sair da conta</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->

<!-- Bottom Bar Start -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="index.html">
            <img src="{% static 'img/logo.png' %}" alt="Logo" />
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search">
          <input type="text" placeholder="Search" />
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user">
          <a href="" class="btn wishlist">
            <i class="fa fa-heart"></i>
            <span>(0)</span>
          </a>
          <a href="{% url 'order:cart' %}" class="btn cart">
            <i class="fa fa-shopping-cart"></i>
            <span>(0)</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
