<div class="top-bar" {% if request.user.type_user == 1 %} style="background-color: blue;" {% else %} style="background-color: white;" {% endif %}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-envelope"></i>
      </div>
      <div class="col-sm-6">
        <i class="fa fa-phone-alt"></i>
       {% if request.user.type_user == 1 %}
        Bem vindo a sua conta de cliente {{request.user.username}}
       {% else %}
       Bem vindo a sua conta de locatário {{request.user.username}}
       {% endif %}
      </div>
    </div>
  </div>
</div>
