{% extends 'home.html' %}
{% block title %} Perfil - {{request.user.first_name}} {% endblock title %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block navbar %} {% include 'navbar.html' %} {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% comment %} {% block menu %} {% include 'partials/menu.html' %} {% endblock %} {% endcomment %}


    {% if car_list %}
    <table class="table" style= "white-space: nowrap;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Imagem</th>
          <th scope="col">Cor do carro</th>
          <th scope="col">Status do carro</th>
          <th scope="col">Dias disponíveis</th>
          <th scope="col">Editar/Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for car in car_list %}
        <tr>
          <th scope="row">{{car.id}}</th>
          <td>
            <img src="{{car.image_car}}" alt="{{car.carName}}" width="250" height="150">

          <td>{{car.color}}</td>
          <td>{{car.status_car}}</td>
          <td>{{car.days}}</td>

          <td>
              <button type="button" class="btn d-block">
                <a href="/update_car/{{car.id}}">
                 <i class="fa fa-pen"></i>
                </a>
              </button>


              <form method="post" action="{% url 'user:delete_car' car.id %}">{% csrf_token %}
                <button class="btn btn-success" type="submit"><i class="fa fa-trash"></i></button>
              </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h1>Sem carros cadastrados</h1>
    {% endif %}


  </div>
</div>

{% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}