{% extends 'home.html' %}
{% block title %} Atualizar carro {% endblock title %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block navbar %} {% include 'navbar.html' %} {% endblock %}
{% block content %} <div id="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="container">

        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">Atualizar carro</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <p><strong>Atualize os dados sobre seu carro</strong></p>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-sm-6">
                                <label class="control-label" for="input-email">Placa do veículo</label>
                                <input type="text" name="plaque" value="{{car_update.plaque}}" id="input-email"
                                    class="form-control" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="control-label" for="input-email">Modelo</label>
                                <input type="text" name="car_model" value="{{car_update.car_model}}" id="input-email"
                                    class="form-control" />
                            </div>


                            <div class="form-group col-sm-3">
                                <label class="control-label" for="input-email">Preço por dia</label>
                                <input type="textarea" name="price_day" value="{{car_update.price_day}}"
                                    placeholder="Preço por dia" id="input-email" class="form-control" />
                            </div>

                            <div class="form-group col-sm-3">
                                <label>Status do carro</label>
                                <select name="status_car" class="form-control">
                                    {% for val, name in car_update.STATUS_CAR %}
                                    <option value="{{val}}">{{name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-sm-3">
                                <label>Cor do carro</label>
                                <select name="color" class="form-control">
                                    {% for val, name in car_update.COLOR %}
                                    <option value="{{val}}">{{name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-sm-3">
                                <label>Marca do carro</label>
                                <select name="brand" class="form-control">
                                    {% for val, name in car_update.BRAND %}
                                    <option value="{{val}}">{{name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-sm-4">
                                <label class="control-label" for="input-email">Data inicial de aluguel</label>
                                <input type="date" name="initial_date" value="{{car_update.initial_date}}"
                                    id="input-email" class="form-control" />
                            </div>


                            <div class="form-group col-sm-4">
                                <label class="control-label" for="input-email">Data final de aluguel</label>
                                <input type="date" name="finish_date" value="{{car_update.finish_date}}"
                                    id="input-email" class="form-control" />
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="input-email">Imagem do carro</label>
                                <input type="text" name="image_car" value="{{car_update.image_car}}"
                                    class="form-control" />
                            </div>
                            </div>


                            <input type="submit" value="Salvar mudanças" class="btn btn-primary btn-lg btn-block" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}