{% extends 'home.html' %}

{% block title %} Início   {% endblock title %}
{% block sidebar  %} {% include 'sidebar.html' %} {% endblock  %}
{% block navbar  %} {% include 'navbar.html' %} {% endblock  %}


{% block content  %}


 <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">


                            {% for car in  cars %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="{% url 'car:car_detail' car.id %}">{{car.car_model}}</a>
                                    </div>
                                    <div class="product-image">
                                        <a href="{% url 'car:car_detail' car.id %}">
                                            <img src="{{car.image_car}}" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="{% url 'car:car_detail' car.id %}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>99</h3>
                                        <a class="btn" href="{% url 'car:car_detail' car.id %}"><i class="fa fa-shopping-cart"></i>Alugue agora</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Product List End -->


{% endblock  %}
{% block footer  %} {% include 'footer.html' %} {% endblock  %}