{% extends 'home.html' %}

{% block title %} Finalização {% endblock title %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block navbar %} {% include 'navbar.html' %} {% endblock %}


{% block content %}
<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">

                <div class="col-lg-8">
                    <div class="checkout-inner">
                        <div class="billing-address">
                            <h2>Informações de pagamento</h2>

                            <div class="row">
                                <div class="col-md-8">
                                    <label>Número do cartão</label>
                                    <input class="form-control" name="cart_number" max="16" type="text"
                                        placeholder="Número cartão">
                                </div>
                                <div class="col-md-4">
                                    <label>Expiração do cartão</label>
                                    <input class="form-control" name="expirate_date" max=5 type="text"
                                        placeholder="Data de expiração">
                                </div>
                                <div class="col-md-6">
                                    <label>Nome do filiado</label>
                                    <input class="form-control" name="name" type="text" placeholder="Nome">
                                </div>
                                <div class="col-md-6">
                                    <label>Código do cartão</label>
                                    <input class="form-control" name="security_number" type="text"
                                        placeholder="Código do cartão">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-inner">
                        <div class="checkout-summary">
                            <h1>Carrinho</h1>
                            <p class="sub-total">Sub Total<span>R$ {{total}} </span></p>
                            <h2>Total<span>R$ {{total}} </span></h2>
                        </div>
                    </div>
                    <div>
                        <button type="submit">Finalizar pedido</button>
                    </div>
                </div>

        </form>
    </div>
</div>
</div>

{% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}