<aside id="column-right" class="col-sm-3 hidden-xs">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="/user/comments">Meus Comentários</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="/user/orders">Minhas compras</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="/user/request">pedidos</a></th>
      </tr>
      <tr>
        <th scope="row"><a href="/user/order_book">Livros comprados</a></th>
      </tr>
      {% if request.user.type_user == 2 %}
        <tr>
        <th scope="row"><a href="/add_new_car">Adicionar novo carro</a></th>
        </tr>
         <tr>
        <th scope="row"><a href="/list_cars/{{request.user.id}}">Carros cadastrados</a></th>
        </tr>   
        {% elif request.user.type_user == 1 %}
         <tr>
        <th scope="row"><a href="{% url 'user:my_car' request.user.id %}">Carros Alugados</a></th>
        </tr>   

      {% endif %}

    </tbody>
  </table>
</aside>
